@property --offset {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0px;
}

.box {
  --offset: 0px;
  transform: translateX(var(--offset));
  animation: animateMove 1s infinite alternate;
}

@keyframes animateMove {
  from {
    --offset: 0;
  }
  to {
    --offset: 100px;
  }
}
